# Assignment Python 
- Dated 23 Sep 2021

##  Calculate Area of Circle

In [ ]:
def area_of_circle(r):
    """
    des: function for Calculate Area of Circle 
    -----------------------------------------
    args:
        r: int, float
    -------------------------------------------
    usage: 
        eg: area_of_circle(2)---->12.56
    """
    area = 3.14*r**2
    return area

In [ ]:
area_of_circle(2)

# Say Hello to user, Expected, 'Hello name'

In [ ]:
def say_hello(user):
    """
    des: function to say hello to user 
    -----------------------------------------
    args:
        user: string
    -------------------------------------------
    usage: 
        eg: say_hello("Naeem")---->Hello Naeem
    """
    print(f"Hello {user}")

In [ ]:
say_hello("Naeem")

# Calculate Volume of Sphere

$$
\begin{gather*}
V = \frac{4}{3}\pi r^3
\end{gather*}
$$

In [ ]:
def vol_of_sphere(r):
    """
    des: function to Calculate Volume of Sphere 
    -----------------------------------------
    args:
        r: int, float
    -------------------------------------------
    usage: 
        eg: vol_of_sphere(2)---->33.49333333333333
    """
    v = (4/3)*3.14*r**3
    return v

In [ ]:
vol_of_sphere(2)

# Copy String in n times

In [ ]:
def copy_str_ntimes(str1="Python",n=10):
    """
    des: function to copy string n times 
    -----------------------------------------
    args:
        str1,n: str, int
    -------------------------------------------
    usage: 
        eg: copy_str_ntimes("Finland",3)---->FinlandFinlandFinland
    """
    return (str1*n)

In [1]:
copy_str_ntimes("Finland",3)

NameError: name 'copy_str_ntimes' is not defined

# Calculate Area of a Triangle

$$
\begin{gather*}
A = \frac{1}{2}bh
\end{gather*}
$$

In [ ]:
def area_of_triangle(b=2.2,h=3.3):
    """
    des: function to Calculate Area of Triangle 
    -----------------------------------------
    args:
        b,h: float, float
    -------------------------------------------
    usage: 
        eg: area_of_triangle(2)---->3.875
    """
    area = (b*h)/2
    return area

In [ ]:
area_of_triangle(2.5,3.1)

# Calculate Interest

In [285]:
def interest_calculate(p,r,t):
    """
        des: function to Calculate the interest
             p is Principle Amount
             r is interest rate
             t is Time period
    -----------------------------------------
    args:
        p,r,t: float, float, float
    -------------------------------------------
    usage: 
        eg: interest_calculate(8700,3.25,3)---->848.25
    """
    return (p*r*t)/100

In [286]:
interest_calculate(8700,3.25,3)

848.25

# calculate Euclidean Distance

In [3]:
def euclidean_distance(coor1,coor2):
    """
        des: function to Calculate the euclidean_distance
   
    -----------------------------------------
    args:
        coor1,coor2: tuple
    -------------------------------------------
    usage: 
        eg: euclidean_distance((3,2),(8,10))---->9.433981132056603
    """
    x1,y1 = coor1
    x2,y2 = coor2
    return ((x2-x1)**2+(y2-y1)**2)**0.5
    #return (p*r*t)/100

In [4]:

coordinate1 = (3,2)
coordinate2 = (8,10)
print(euclidean_distance(coordinate1,coordinate2))

9.433981132056603

# Feet to centimeter Converter

In [5]:
def feet_to_centimeter(feet):
    """
        des: function to convert feet to cm
        -----------------------------------------
    args:
        feet: int/float
    -------------------------------------------
    usage: 
        eg: feet_to_centimeter(2)---->60.96
    """
    return (feet * 30.48)

In [6]:
feet_to_centimeter(2)

60.96

# BMI Calculator

In [7]:
def bmi_calculator(weight,height):
    """
        des: function to convert BMI
            weight in Kg, Height in CM
        -----------------------------------------
    args:
        weight,height: float,float
    -------------------------------------------
    usage: 
        eg: bmi_calculator(70,175)---->22.85
    """
    bmi = (weight)/((height*0.01)**2)
    print(bmi)

In [8]:
bmi_calculator(70,175)

22.857142857142858

# Binary to Decimal

In [9]:
def bin_to_dec(b):
    """
        des: function to convert binary to decimal 
        -----------------------------------------
    args:
        b: int (in binary style)
    -------------------------------------------
    usage: 
        eg: bin_to_dec(1001)---->9
    """
    dec = 0
    power = 0
    while(b>0):
        dec+=2**power*(b%10)
        b = b//10
        power+=1
    return dec

In [10]:
bin_to_dec(1001)

9

# receive two integral numbers in string form and compute their sum and then print it in console.

In [11]:
x = input("Enter first number: ")
y = input("Enter second number: ")
result = int(x) + int(y)
print(result)

Enter first number: 2
Enter second number: 3
5

# bitwise operators for any two variable all the bitwise operator that are there

In [12]:
a = 10
b = 4

In [13]:
a&b

0

In [14]:
a|b

14

In [15]:
~a

-11

In [16]:
a^b

14

# shift operators
- These operators are used to shift the bits of a number left or right thereby multiplying or dividing the number by two respectively. They can be used when we have to multiply or divide a number by two. 
## Bitwise right shift
- Shifts the bits of the number to the right and fills 0 on voids left( fills 1 in the case of a negative number) as a result. Similar effect as of dividing the number with some power of two.

#  str1=" this is a sample daTaa to test for the task" Check if ‘is’ present in str1

In [17]:
str1=" this is a sample daTaa to test for the task" 
"is" in str1

True

# Check if ‘was’ not present in str1

In [18]:
str1=" this is a sample daTaa to test for the task" 
"is" not in str1

False

# Print str1 in uppercase

In [19]:
def print_upper(s):
    """
        des: function to print in upper case
    -----------------------------------------
    args:
        s: str
    -------------------------------------------
    usage: 
        eg: print_upper("hello world")---->HELLO WORLD
    """
    return s.upper()

In [20]:
str1=" this is a sample daTaa to test for the task" 
print(print_upper(str1))

 THIS IS A SAMPLE DATAA TO TEST FOR THE TASK

# Print str1 as title

In [21]:
def print_title(s):
    """
        des: function to print in title case
    -----------------------------------------
    args:
        s: str
    -------------------------------------------
    usage: 
        eg: print_title("hello world")---->Hello World
    """
    print(s.title())

In [22]:
str1=" this is a sample daTaa to test for the task" 
print_title(str1)

 This Is A Sample Dataa To Test For The Task

# Get a new string from str1 ‘DatTaa’ as ‘Data’

In [23]:
str1=" DatTaa"
new_str = str1[:4]+str1[-1]
print(new_str)

# SECOND METHOD
new_str = str1.replace('Ta','')
print(new_str)

 Data
 Data

#  Print a new string with extra "a" removed form previous task

In [24]:
new_str = new_str+"a"
print(new_str)

 Dataa

#  Display ‘sample’ word from ‘ this is another sample string ‘

In [25]:
str1 = "this is another sample string"
word = "sample"
print(str1[str1.find(word):str1.find(word)+len(word)])
# SECOND METHOD

print(str1.split()[-2])

sample
sample

# Display date, month and year form 21-oct-2020

In [26]:
str1 = "21-oct-2020"
date,month,year = str1.split('-')
print(f"Date : {date}, Month : {month}, Year : {year}")

Date : 21, Month : oct, Year : 2020

#   arr = “10,20,30,40,50,60,70”, get “50,60”

In [27]:
arr = "10,20,30,40,50,60,70"
print(arr.split(',')[-3:-1])

['50', '60']

#   using negative index get "50 ,60"

In [28]:
arr = "10,20,30,40,50,60,70"
print(arr.split(',')[-3:-1])

['50', '60']

# From credit_str get ‘8888’
credit_str = "xxxx----xxxx-8888------xxxx"

In [29]:
credit_str = "xxxx----xxxx-8888------xxxx"
word = "8888"
print(credit_str[credit_str.find(word):credit_str.find(word)+len(word)])

8888

# From credit_str get ‘0’
credit_str = "1234-5678-9878-0434"

In [30]:
credit_str = "1234-5678-9878-0434"
word = "0"
print(credit_str[credit_str.find(word):credit_str.find(word)+len(word)])

0

#  convert a integer into a string and print it in console.

In [31]:
num = 1
str_num = str(num)
print(str_num)

1

#  take two strings as input and concatenate them and then print it

In [32]:
str1 = input("String 1: ")
str2 = input("String 2: ")
print(str1+str2)

KeyboardInterrupt: Interrupted by user

#  convert the given string into list
given_string = " Apples is differnt from Apple Inc"

In [ ]:
given_string = "Apples is differnt from Apple Inc"
list_converted = given_string.split()
print(list_converted)

# print type of a and get the 1 element
a = {(1,2):1,(2,3):2}

In [ ]:
a = {(1,2):1,(2,3):2}
print(type(a))
print(a[1,2])

# write a program to get  list as 4,3,2 from the list below
a=1,2,3,4,5

In [ ]:
a=[1,2,3,4,5]
a.reverse()
print(a)

# write a program to get odd number only using a slicing
a=1,2,3,4,5,6,7,8,9

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
print(a[0:-1:2])

# create a tuple with (1,2) 5 times

In [ ]:
a = ((1,2),)*5
a

#  from given list create separate lists of strings and numbers.use list comprehension
gadgets = "Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Lens"

In [ ]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Lens"]

type(gadgets)
str_list = [x for x in gadgets if isinstance(x,str) ]
num_list = [x for x in gadgets if isinstance(x,int) or isinstance(x,float)]
print(str_list)
print(num_list)

# An array is given from the array find the sum of diagonal using list comprehension
a_2d=[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a_2d=[[1, 2, 3], [4, 5, 6],[ 7, 8, 9]]

# convert number into tuple of words using comprehension
num=8976543201

In [ ]:
num = 8976543201

In [ ]:
[x for x in n]

# print the numbers which are divisible by 2 but are not a multiple of 5
numbers = range(1, 10)

In [ ]:
for i in range(1,10):
    if i % 2 == 0 and i % 5 != 0 :
        print(i)

# print the sum of tuple : use comprehension
init_tuple = [(0, 1), (1, 2), (2, 3)]

In [ ]:
init_tuple = [(0, 1), (1, 2), (2, 3)]

[sum(x) for x in zip(*init_tuple)]

#  delete the last coumn from the given 4*4 matrix

In [ ]:
import numpy as np
arr = [[1, 2, 3, 4],
       [4, 5, 6, 7],
       [8, 9, 10, 11],
       [12, 13, 14, 15]]

In [ ]:
narr = np.array(arr)
narr.shape
narr = narr[:,:-1,]
narr.shape

# get the list of value of dict in sorted way

In [ ]:
dict1 = {'c': 97, 'a': 96, 'b': 98}
sorted(dict1.values())

# Creating a Dictionary with Integer Keys and print it

In [ ]:
new_dict = {1:"A",2:"B",3:"C",4:"D"}
print(new_dict)

# Creating a Dictionary with Mixed keys

In [ ]:
student_dict = {'Name': 'Naeem', 1: [1, 2, 3, 4]}
print(student_dict)

# Creating an empty Dictionary

In [ ]:
empty_dict1 = {}
print(type(empty_dict1))
empty_dict2 = dict()
print(type(empty_dict2))

# Creating a Dictionary with dict() method

In [ ]:
dict3 = dict()

# Creating a Dictionary with each item as a Pair

In [ ]:
dict4 = {1:"A",2:"B",3:"C",4:"D"}

# Creating a Nested Dictionary as shown in the below image
{1: 'python', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Python', 'D': 'class'}}

In [ ]:
nested_dict = {1:"python", 2 : "For", 3 : {"A":"Welcome", "B":"TO","C":"Python","D":"class"}}

# Add a Nested Key value to nested dictionary Dictionary

In [ ]:
nested_dict[4] = {}

In [ ]:
nested_dict[4]['Subject']={1:"Math",2:"State",3:"Physics"}

In [ ]:
nested_dict

In [ ]:
nested_dict[4]["Subject"][2]

# create a dictionary with id:num and value: square for range (0,6) using dict comprehension

In [ ]:
dict5 = {key:value for (key,value) in range(0,6)}

#  create a dictionary using dict comprehension to get the odd square only

# from a given dict {1: 'a', 2: 'b', 3: 'c'} change the key into item and viceversa

#  get a hello from the given dict
- d = {'k1':[{'nest_key':['this is deep','hello']}]}
- d1 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,'hello']}]}]}

# Divisibility Check of user given 2 input of numbers

In [ ]:
input1 = int(input("Enter number 1:"))
input2 = int(input("Enter number 2:"))
if input1 % input2 == 0:
    print(f"{input1} is divible by {input2}")
elif input2 % input1 == 0:
    print(f"{input2} is divisible by {input1}")
else:
    print("Numbers are not divisible by eachother")

# Check if number is even or odd

In [ ]:
input1 = int(input("Enter number:"))
if input1 % 2 ==0:
    print(f"{input1} is even")
else: print(f"{input1} is odd")

# Check whether Entered character is Vowel or not

In [ ]:
vowel_list = ['A', 'E', 'I', 'O', 'U', 'Y', 'W']
input_char = input("Enter character: ").upper()
if input_char in vowel_list:
    print(f"{input_char} is a vowel")
else:
    print(f"{input_char} is not a vowel")

# calculate Sum of n positive Integer
example: Sum of n positive Integer till 2 is 3

In [ ]:
# formula (n*(n+1)/2)
num = int(input("Enter no. "))
sum_ = num*(num+1)/2
print(sum_)

# calculate the Digit Sum of a number (eg: 123 print 1+2+3=6)

In [ ]:
sum_ = 0
num=12345
while num>0:
    sum_+=num % 10
    num = num//10

print(sum_)

''' def recursive_func(num):
    if num/10 < 1:
        return sum_
    sum_+=num%10
    recursive_func(num//10)

recursive_func(123)
'''

# Count Numbers, Alphabets, and Special Character from user input string

In [ ]:
string = "this is a string.! it has numbers 12 44 22.12$ special character like @ # $)))**)_+ "
list_string= list(string)
alpha=0
special=0
number = 0
for i in list_string:
    if i.isalpha():
        alpha+=1
    elif i.isnumeric():
        number+=1
    else:
        special+=1

print(f"Alphabets = {alpha} Numbers = {number} Special = {special}")

 # constuct the given pattern

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
````

In [ ]:
num = 6
for i in range(num):
    for j in range(i):
        print("*", end = '')
    print()
for i in range(num):
    for j in range(num-i):
        print("*", end = '')
    print()

# 58. Count number of characters in a string
eg : {'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
str1 = "hello world"
dict1={}
for i in str1:
    keys = dict1.keys()
    if i in keys:
        dict1[i]+=1
    else:
        dict1[i]=1
print(dict1)

# write a program to compute 5/0 using try except

In [ ]:
try:
    print(5/0)
except:
    print("Division by zero error")

#  Handle the exception thrown by the code below by using try and except blocks.
li=["hello","class"]
for i in li:
    print (i**2)

In [ ]:
try:
    li=["hello","class"]
    for i in li:
        print (i**2)
except:
    print("error")

# Write a function that asks for an integer and prints the square of it. Use a while loop with a try,except, else block to account for incorrect inputs.

In [ ]:
def func():
    while True:
        try:
            num = int(input("enter a number: "))
            print(num**2)
            break
        except  ValueError:
            print("Value is not valid")

In [ ]:
func()

#  Accept the String and print the words composed of digits only

In [ ]:
str1 = "hello123 this is string1. this is number 123 and 1 is also number"
str1.split()
for i in str1.split():
    if i.isnumeric():
        print(i)

#  find the parity outlier from the given sequence use list comprehension
seq=1,2,3,5,7

In [ ]:
def find_outlier(seq):
    odds = [i for i in seq if i % 2 != 0]
    evens = [i for i in seq if i % 2 == 0]
    return odds[0] if len(odds) < len(evens) else evens[0]

In [ ]:
find_outlier(seq)

# get the complement

In [ ]:
complement = {'A':'T', 'T':'A', 'C':'G', 'G':'C'}
dna="ATTGC"
"".join(complement[letter] for letter in dna)

#  Write a program that inputs a number from the user and displays the factorial of that number using while loop.

In [33]:
num = int(input("enter num: "))
fact = 1
while (num>0):
    fact = fact * num
    num = num - 1
print(fact)

enter num: 6
720

#  Ask the user for a number,to pick the color from the list print the color.

In [38]:
color= [ "Blue", "Green", "Orange", "Red"]
user_input = int(input("Enter number:"))
print(color[user_input-1])

Enter number:1
Blue

#  Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.

In [40]:
#a+aa+aaa+aaaa
a= int(input("Enter number: "))
result = a+a*a+a*a*a+a*a*a*a
print(result)

Enter number: 2
30

#  write a program that lets user to input the value seperate by "," and create a list from it using list comprehension

In [43]:
str1 = input("Enter the values: ")
a = [x for x in str1 if x!=',']

Enter the values: this is a list, and this string,

In [44]:
a

['t',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 's',
 't',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 ' ']

# Write a program that calculates and prints the value according to the given formula:
Q = Square root of (2 C D)/H
given,
c=50
h=30
D is the variable whose values should be input to your program in a comma-separated sequence.
Example 100,150,180
The output : 18,22,24

# Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.

In [60]:
str1 = input("Enter the string: ")

set1 = set([x for x in str1.split()])
sorted(set1)

Enter the string: a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically

['a',
 'accepts',
 'after',
 'all',
 'alphanumerically',
 'and',
 'as',
 'duplicate',
 'input',
 'of',
 'prints',
 'program',
 'removing',
 'separated',
 'sequence',
 'sorting',
 'that',
 'the',
 'them',
 'whitespace',
 'words']

#  Write a program which accepts a sequence of comma separated 4 digit binary numbers and then check whether they are divisible by 5 or not. print the number
Example: 0100,0011,1010,1001 Then the output should be: 1010

In [92]:
b_numbers = [100,11,1010,1001]
[x for x in b_numbers if (int(str(x),2)%5 == 0 )]

[1010]

# By using list comprehension, please write a program to print the list after removing the even index numbers
li=range(10)

# write a function to get the sum of two num(use lambda)

In [121]:
(lambda x,y: x + y)(2,3)

5

# write a function to print if leap year or not

In [126]:
def leap_year(year=2000):
    if (year % 4==0):
        print(f"{year} is leap year")
    else: 
        print(f"{year} is not leap year")

In [127]:
leap_year(2020)

2020 is leap year

#  write a function to count a bit(number of 1) in number (use lambda)

In [131]:
num = 1234
bin(num).count('1')

5

#  write a program to get the area of a circle from the radius (use lambda)

In [134]:

(lambda x : 3.14*r)(3)

9.42

#  write a function to get the factorial of given number use recurssion

In [139]:
def fact(n):
    if n==1:
        return n
    else:
        return n*fact(n-1)

In [140]:
print(fact(6))

720

In [138]:
recur_factorial(6)

720

In [ ]:
num = int(input("enter num: "))
fact = 1
while (num>0):
    fact = fact * num
    num = num - 1
print(fact)

# write a program to remove a duplicate word in a list or user input sentences.

In [146]:
str1 = "write a program to program program remove word list user int in in remove a duplicate word in a list or user input sentences"
duplicate_free_words = set(str1.split())
print(duplicate_free_words)

{'in', 'program', 'int', 'duplicate', 'write', 'list', 'remove', 'sentences', 'or', 'user', 'input', 'to', 'a', 'word'}

# calculate fibonacci

In [153]:
n1 = 0
n2 = 1
n = 7 # total terms
count = 0
if(n<=1):
    print(n1)
else:
    while count<n:
        print(n1)
        temp = n1 + n2
        n1 = n2
        n2 = temp
        count+=1

0
1
1
2
3
5
8

#  write a function to get the premutation and combination

In [164]:
def facto(num):
    fact = 1
    while (num>0):
        fact = fact * num
        num = num - 1
    return fact 

def get_permotation_combination(n,r):
    permo = facto(n)/facto(n-r)
    combi = facto(n)/(facto(r)*facto(n-r))
    print(f"Permotation: {permo}")
    print(f"Combination: {combi}")

In [166]:
get_permotation_combination(6,2)

Permotation: 30.0
Combination: 15.0

#  write a function to draw a diamond shape from a user given number:

In [195]:
def draw_diamond(size=5):
    for i in range(size):
        print(" "*(size-i), "*"*(i*2+1))
    for i in range(size-2,-1,-1):
        print(" "*(size-i), "*"*(i*2+1))

draw_diamond(10)

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
   *****************
    ***************
     *************
      ***********
       *********
        *******
         *****
          ***
           *

# build a simple calculator which can:
- add
- subtract
- multiply
- divide

In [216]:
def calc(x,y):
    op = input("Enter a to Add, s to Subtrat, m to Multip, d to Divide ")
    if op=="a":
        print(f"inside {op} ")
        return x + y
    elif op=="s":
        print(f"inside {op} ")

        return x - y
    elif op=='m':
        print(f"inside {op} ")

        return x * y
    elif op == "d":
        print(f"inside {op} ")

        return x/y
    else:
        print("Wrong Operator")
        calc(x,y)

In [218]:
calc(5,5)

Enter a to Add, s to Subtrat, m to Multip, d to Divide a
inside a

10

# define a function which can print a given string in a circular rotation

In [224]:
    str1 = "naeem"
    for i in range(len(str1)):
        new_str = str1[i:]+ str1[:i]
        print(new_str)

naeem
aeemn
eemna
emnae
mnaee

# write a function to calculate the GCD of 2 number

In [226]:
def cal_gcd(a,b):
    if(b==0):
        return a
    else:
        return cal_gcd(b,a%b)

In [234]:
cal_gcd(24,18)

6

# Write a Python function to check whether a string is pangram or not.

In [268]:
def pamgram(str1):
    str2=""
    for i in range(len(str1)-1,-1,-1):
        str2=str2+str1[i]

    if str1==str2:
        print("Pangram")
    else:
        print("Not pangram")

In [273]:
pamgram("madam")

Pangram

# write a function which take a list of number and target where target is number . print the index from the list where the sum of the index value is equal to that of the target

# write a function to calculate the LCM of a 2 number
lcm of 54 and 42 is 216

In [276]:
def calc_lcm(a,b):
    return (a*b/cal_gcd(a,b))

In [279]:
calc_lcm(54,42)

378.0

#  write a function that gives the prime factor only

In [283]:
def prime_factor(num):
    i = 2
    prime = []
    while i * i <=num:
        if num % i == 0:
            prime.append(i)
            num//=i
        else: 
            i+=1
    if num>1: 
        prime.append(num)
    return prime

In [284]:
prime_factor(18)

[2, 3, 3]

#  write a function that print the first non repeating letter

In [305]:
def non_repeating(str1):

    dict1={}
    for i in str1:
        keys = dict1.keys()
        if i in keys:
            dict1[i]+=1
        else:
            dict1[i]=1
    print(dict1)

    for i in dict1:
        if dict1[i]==1:
            return i

    return "None"

In [306]:
non_repeating("hello hello hello")

{'h': 3, 'e': 3, 'l': 6, 'o': 3, ' ': 2}

'None'

# return sum of array excluding the lowest and highest element

In [327]:
arr = [1,2,3,4,5]
sum_=0
for i in range(1,len(arr)-1):
    sum_+=arr[i]

print(sum_)

9